{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class='container'>
    <h1> Are you sure you want to delete {{resume.title}}?</h1>
    <form action = {{ url_for('deleteResume', code = resume.code) }} method = 'POST' role = 'form'>
        {{form.csrf_token}}
        <div class = 'form-group'>
        {{form.submit()}}
        </div>
    </form>
    <a href = "{{ url_for('fullResumeList')}}"><button type = 'button' class='btn btn-sm btn-primary'>Cancel</button></a>
</div>
{% endblock %}
